USE [master]
GO
/****** Object:  Database [Parcial]    Script Date: 2/7/2024 19:33:12 ******/
CREATE DATABASE [Parcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empleado', FILENAME = N'C:\SQLData\Empleado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Empleado_log', FILENAME = N'C:\SQLData\Empleado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parcial]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 2/7/2024 19:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Edad] [int] NULL,
	[Experiencia] [int] NULL,
	[Salario] [int] NULL,
	[EdadParaJubilacion] [int] NULL,
	[LenguajeDeProgramacion] [nvarchar](100) NULL,
	[ProyectosFinalizados] [int] NULL,
	[PersonasACargo] [int] NULL,
	[ProyectosGestionados] [int] NULL,
	[HerramientasDePrueba] [nvarchar](100) NULL,
	[ProyectosTesteados] [int] NULL,
	[Tipo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id], [Nombre], [Edad], [Experiencia], [Salario], [EdadParaJubilacion], [LenguajeDeProgramacion], [ProyectosFinalizados], [PersonasACargo], [ProyectosGestionados], [HerramientasDePrueba], [ProyectosTesteados], [Tipo]) VALUES (143, N'Matias', 19, 1, 30000, NULL, N'js', 4, NULL, NULL, NULL, NULL, N'Desarrollador')
INSERT [dbo].[Empleado] ([Id], [Nombre], [Edad], [Experiencia], [Salario], [EdadParaJubilacion], [LenguajeDeProgramacion], [ProyectosFinalizados], [PersonasACargo], [ProyectosGestionados], [HerramientasDePrueba], [ProyectosTesteados], [Tipo]) VALUES (144, N'Rodrigo', 25, 3, 3000, NULL, NULL, NULL, NULL, NULL, N'js', 4, N'Tester')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
USE [master]
GO
